nav {
    margin: 15px auto;
    overflow: auto;
    background-color: dimgrey;
    border: 4px solid black;
    border-radius: 7px;
    margin-left: 230px;
    margin-right: 230px;
}

nav h1 {
    float: left;
    padding-left: 1%;
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul {
    padding-right: 1%;
    margin-top: 0.3%;
}

nav ul li {
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

nav ul li a:hover {
    color: darkorange;
}

header h1 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 5px;
}

hr {
    margin: 0 40% 10px;
    border: 1px solid black;
    border-radius: 15px;
}

section div.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20%;
}

section div.fboxcutler{
    width: 48%;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: olivedrab;
}

section div.fboxleier{
    width: 48%;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: orange;
}


h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

section div.fboxgalaxy{
    width: 48%;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: cornflowerblue;
}

section div.fboxspeedfit{
    width: 48%;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: crimson;
}

section div.kep img{
    width: 80px;
    height: 50px;
    
}
div.kep p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

@keyframes animation7 {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}

.animation7 {
    animation: animation7 5s infinite;
    position: relative;
}

@keyframes animation6 {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.animation6 {
    animation: animation6 5s infinite;
    position: relative;
}

@keyframes animation5 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.animation5 {
    animation: animation5 5s infinite;
    position: relative;
}

ul {
    margin-top: 15px;
}

div.gallery {
    border-radius: 10px;
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.8;
}
  
div.gallery img:hover {
    opacity: 1;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
article {
    padding: 0 6px;
    float: left;
    width: 25%;
    padding-bottom: 50px;
}

@media only screen and (max-width: 900px) {
    article {
      width: 50%;
      margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    article {
      width: 100%;
    }
}

div.ja p img {
    height: 50%;
    width: 80%;
    transition: all 1s ease-in-out;

}

div.ja p {
    text-align: center;
}


div.ja :hover {
    height: 70%;
    width: 100%;
    transition: scale(1.5);
}